<section class="hero">
  <button class="flecha izquierda">&#8592;</button>

  <div class="hero-contenido">
    <h1>Gancho de atención</h1>
    <img src="assets/hormiga-sangilena.png" alt="Hormiga Sangilena">
    <button class="btn-comenzar">Comenzar mi ruta</button>
  </div>

  <button class="flecha derecha">&#8594;</button>

  <div class="puntos">
    <span class="activo"></span>
    <span></span>
    <span></span>
  </div>
</section>

<section class="busqueda">
  <p>¿A qué plan se le mide?</p>
  <div class="barra-busqueda">
    <input type="text" placeholder="">
    <button>🔍</button>
  </div>
</section>

<section class="lugares">
  <h2>Lugares turísticos</h2>
  <p class="subtitulo">Destinos bien bacanos.</p>
</section>