<div class="product-card">
  <div class="image-container">
    <img [src]="product.imageUrl || 'assets/img/prducts.png'" [alt]="product.name">

    <div class="mobile-icons">
      <button class="icon-btn detail-icon" (click)="goToDetail()">+</button>
    </div>

    <div class="desktop-actions">
      <button class="btn-details" (click)="goToDetail()">Detalles</button>
      <button *ngIf="isAdmin()" class="btn-edit" (click)="goToEdit()">Editar</button>
      <button *ngIf="isAdmin()" class="btn-delete" (click)="delete()">Eliminar</button>
    </div>
  </div>

  <div class="product-info">
    <p class="price">${{ product.basePrice | number:'1.0-0' }}</p>
    <p class="title">{{ product.name }}</p>
  </div>
</div>