<div class="product-card">
  <div class="image-container">
    <img
      [src]="product.imageUrl || 'assets/img/prducts.png'"
      [alt]="product.name">

    <div class="mobile-icons">
      <button class="icon-btn detail-icon">+</button>
      <button class="icon-btn cart-icon">🛒</button>
    </div>

    <div class="desktop-actions">
      <button class="btn-details" (click)="goToDetail()">Detalles</button>
      <button class="btn-add">Agregar</button>
    </div>
  </div>

  <div class="product-info">
    <p class="price">${{ product.basePrice | number:'1.0-0' }}</p>
    <p class="title">{{ product.name }}</p>
  </div>
</div>