<div class="bg-[#FBF5EC] min-h-screen px-6 py-10">

  
  <h1 class="text-3xl font-bold mb-6">Nombre</h1>

  <!-- Contenido principal -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

    <!-- Galeria fotos -->
    <div class="lg:col-span-2">
      <div class="bg-gray-300 h-64 rounded-lg mb-4 flex items-center justify-center">
        <span class="text-gray-500">Imagen principal</span>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="bg-gray-200 h-32 rounded"></div>
        <div class="bg-gray-200 h-32 rounded"></div>
        <div class="bg-gray-200 h-32 rounded"></div>
        <div class="bg-gray-200 h-32 rounded"></div>
      </div>

      <!-- Ubicacion  -->
      <div class="mt-6 flex items-center justify-between">
        <p class="font-semibold">Ubicación</p>
        <div class="flex text-yellow-500 text-5xl">
          ★★★★☆
        </div>
      </div>


      <!-- Descripcion -->
      <div class="mt-6">
        <h2 class="font-semibold mb-2">Descripción</h2>
        <p class="text-gray-700 leading-relaxed">
          ............................................<br>
          ............................................<br>
         
        </p>
      </div>
    </div>

    <!-- Formulario -->
    <div class="bg-white rounded-lg shadow-md p-6 h-fit">
      <form class="space-y-8">

        <input type="text" placeholder="Nombre" class="w-full border rounded px-3 py-2" />
        <input type="text" placeholder="Teléfono" class="w-full border rounded px-3 py-2" />
        <input type="email" placeholder="Correo" class="w-full border rounded px-3 py-2" />
        <input type="date" class="w-full border rounded px-3 py-2" />
        <input type="number" placeholder="Cantidad de adultos" class="w-full border rounded px-3 py-2" />
        <input type="number" placeholder="Cantidad de niños" class="w-full border rounded px-3 py-2" />

        <textarea placeholder="Observaciones" class="w-full border rounded px-3 py-2"></textarea>

       <button type="button"
  class="w-full bg-[#F4A261] hover:bg-[#E5954D] text-white font-semibold py-2 rounded">
  Reservar
</button>

      </form>
    </div>

  </div>
</div>